.second-card-closed {
  width: 300px;
  height: 70px;
  border-radius: 5px;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  margin: 0 auto 25px auto;
  padding: 26px 15px;
  font-family: 'Recursive', sans-serif;
  display: flex;
  justify-content: space-between;
  animation: reduce 300ms linear;
}

ion-icon[name="close-circle"] {
  color: #ff3030;
}

ion-icon[name="help-circle"] {
  color: #ff922e;
}

ion-icon[name="checkmark-circle"] {
  color: #2fbe34;
}

.second-card-closed .answer-dont-remember {
  color: #ff3030;
  text-decoration-line: line-through;
}

.second-card-closed .answer-almost {
  color: #ff922e;
  text-decoration-line: line-through;
}

.second-card-closed .answer-zap {
  color: #2fbe34;
  text-decoration-line: line-through;
}

@keyframes reduce {
  from {
    height: 132px;
  }
  to {
    height: 70px;
  }
}
